h1 {
	font-family: "Oxygen", Tahoma;
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	padding-bottom: 10px;
	cursor: default;
}
h4 {
	font-family: "Oxygen", Tahoma;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;
	cursor: default;
}
h3 {
	font-family: "Oxygen", Tahoma;
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	padding-bottom: 8px;
	cursor: default;
}
button {
	background-color: #323335; #717172;
	border: 2px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	transition-duration: 0.5s;
	padding: 12px 32px;
	margin: 12px 0px;
	text-align: center;
	font-family: "Oxygen", Tahoma;
	display: block;
	width: 196px;
}
button:hover {
	background-color: #ffffff;
	color: #323335;
}
.contact:hover{
	background-color: #ffffff;
	color: #323335;
	width: 300px;
}
.contact:hover:before{
	content: "downwithup@protonmail.com";
}
.contact:hover span {
	display: none;
}
footer {
	padding-bottom: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: "Oxygen", Tahoma;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	cursor: default;
}
iframe {
	border: none;
	width: 50%;
}
a {
	font-family: "Oxygen", Tahoma;
	font-size: 100px;
	color: #42bcf4;
}
p {
	white-space: pre-line;
	width: 80%;
	font-family: "Oxygen", Tahoma;
	font-size: 14px;
	color: #ffffff;
}
hr {
	width: 80%;
	color: #ffffff;
}
