h1 {
	font-family: "Oxygen", Tahoma;
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	margin-bottom: 2px;
	cursor: default;
	font-weight: 100;
}
h2 {
	font-family: "Oxygen", Tahoma;
	color: #ffffff;
	text-align: left;
	font-size: 25px;
	padding-bottom: 8px;
	cursor: default;
	font-weight: 100;
	margin-left: 10%;
	margin-right: 10%;
}
h4 {
	font-family: "Oxygen", Tahoma;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	margin-bottom: 48px;
	margin-top: 8px;
	cursor: default;
	font-weight: 100;
}
h3 {
	font-family: "Oxygen", Tahoma;
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	padding-bottom: 8px;
	cursor: default;
	font-weight: 100;
}
button {
	background-color: #323335; #717172;
	border: 2px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	transition-duration: 0.5s;
	padding: 12px 32px;
	margin: 12px 0px;
	text-align: center;
	font-family: "Oxygen", Tahoma;
	display: block;
	width: 196px;
	font-weight: 100;
}
button.CVE {
	background-color: #323335;
	border: 2px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	transition-duration: 0.5s;
	padding: 12px 32px;
	margin: 12px 10px;
	text-align: center;
	font-family: "Oxygen", Tahoma;
	display: block;
	width: 190px;
	font-weight: 100;
	float: left;
	overflow: auto;
}
button:hover {
	background-color: #ffffff;
	color: #323335;
}
.contact:hover{
	background-color: #ffffff;
	color: #323335;
	width: 300px;
}
.contact:hover:before{
	content: "downwithup@protonmail.com";
}
.contact:hover span {
	display: none;
}
footer {
	padding-bottom: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: "Oxygen", Tahoma;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	cursor: default;
}
iframe {
	border: none;
    position:absolute;
    width: 50%;	
    height:200px;
    bottom:0px;
	left:50%;
	margin-left:-25%;
}
a {
	font-family: "Oxygen", Tahoma;
	font-size: 14px;
	color: #42bcf4;
}
p {
	white-space: pre-line;
	width: 80%;
	font-family: "Oxygen", Tahoma;
	font-size: 14px;
	color: #ffffff;
}
p.rre {
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
}
div.display {
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0px;
	min-width: 100%;
	border-style: solid;
	border-color: #ffffff;
	border-bottom: none;
	border-left: none;
	border-right: none;
	overflow-y: scroll;
}
div.code{
	margin-left: 10%;
	margin-right: 10%;
}
p.notes { 
	position: relative;
	margin-left: 10%;
	margin-right: 10;
}
p.p_display {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;

	visibility: hidden;
	max-height: 0px;
	width: 90%;
	
}
img.blog {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
hr {
	width: 80%;
	color: #ffffff;
}
ul.blog {
	font-family: "Oxygen", Tahoma;
	font-size: 14px;
	color: #ffffff;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	list-style-type: square;
}
